* {
  box-sizing: border-box;
}

.container {
  max-width: 1400px;
  height: 100vh;
  margin: 0 auto;
  background: rgb(153, 92, 179);
}

.header {
  margin: 0;
  padding: 20px;
  background-color: rgb(130, 79, 157);
  text-transform: uppercase;
  text-align: center;
}

.dragContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 20px;
}

.droppable {
  margin: 20px;
  padding: 10px;
  width: 250px;
  min-height: 200px;
  background-color: rgb(221, 224, 229);
}

.taskHeader {
  margin: 0;
  padding-bottom: 10px;
}

.draggable {
  background-color: #fff;
  padding: 5px;
  margin: 5px 0;
}
